<html>
<body>
	<h1>Title : ${title}</h1>
	<h1>Message : ${message}</h1>
	
	<!-- csrt for log out-->
	<form action="${link.contextPath}/j_spring_security_logout" method="post" id="logoutForm">
	  <input type="hidden"
		name="${_csrf.parameterName}"
		value="${_csrf.token}" />
	</form>
	
	<script>
		function formSubmit() {
			document.getElementById("logoutForm").submit();
		}
	</script>

	#if(${request.userPrincipal.name})
	   <h2>Welcome : ${request.userPrincipal.name}  | <a href="javascript:formSubmit()" > Logout</a></h2>
	#end
</body>
</html>