<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Home</title>
    </head>
    <body>
		###foreach($item in ${pageList.resultList})
        ##<p>${item.appId}&nbsp;${item.userName}&nbsp;${item.nickName}&nbsp;<a href="${link.contextPath}/wx/menu/query.json?id=$!{item.id}" target="_blank">$link.absolute("${link.contextPath}/wx/menu/query.json")?id=${item.id}</a></p>
		###end
		<h1 >
			<a href="${link.contextPath}/test/cmcc/add.htm" target="_blank">add</a>
        </h1>
		<table border="1">
        	<thead>
        		<tr>
        			<th style="width:100px">id</th>
        			<th style="width:200px">name</th>
        			<th style="width:200px">msg</th>
        			<th style="width:100px">opt</th>
        		</tr>
        	</thead>
        	<tbody>
#foreach($item in ${list})
        		<tr>
        			<td >$!{item.id}</td>
        			<td >$!{item.name}</td>
        			<td >$!{item.message}【$!{item.date}-$!{item.enable}】</td>
        			<td ><a href="${link.contextPath}/test/cmcc/del.htm?id=$!{item.id}" target="_blank">删除</a></td>
        		</tr>
#end
        	</tbody>
        </table> 
    </body>
</html>